@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

:root {
    --background_menu: #ffffff;
    --main: #007ac2;
    --mainLight: #99c2f8;
    --secondary: #e9f1f3;
    --text_main: #3a3a3e;
    --subtle: #f5f5f7;
    --subtle_hover: #f1f1f2;
    --shadow_light: #00000010;
    --shadow: #00000022;
    
    --borderRadius_large: 10px;

    --fontSize_large: 20px;
    --fontSize_medium: 13px
}

/* #region General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, "sans-serif";
    font-size: var(--fontSize_medium);
    color: var(--text_main);
}
body {
    background-color: var(--background_menu);
    overflow: hidden;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.test {
    border: 1px solid red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.bold {
    font-weight: 500;
}
button {
    border: none;
    outline: none;
    border-radius: 4px;
}
input[type=number] {
    -moz-appearance: textfield;
}
/* #endregion */

/* #region Menu */
#menu {
    width: 387px;
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
}
#main {
    padding: 20px 28px;
    border-radius: var(--borderRadius_large);
    background-color: var(--background_menu);
}
#menu .bar {
    height: 33px;
    cursor: move;
    overflow: hidden;
    border-radius: 5px;
}
.imgBar {
    pointer-events: none;
    display: block;
    margin: auto;
}
.content {
    padding: 12px 0px;
    height: 348px;
    overflow: hidden;
}
.divInformation {
    height: 0%;
    max-height: 262px;
    overflow: hidden;
    transition: height 0.3s ease;
    position: relative;
}
label {
    display: block;
    width: fit-content;
    margin-bottom: 2px;
    padding-left: 10px;
}
.fieldWrapper, .fieldWrapperDouble {
    margin-bottom: 10px;
}
.fieldWrapperDouble {
    display: flex;
    justify-content: space-between;
}
.fieldWrapperDouble div {
    width: calc(50% - 9px);
}
.buttonsWrapper {
    display: flex;
    justify-content: end;
    margin-top: 16px;
    height: 24px;
}
input, select {
    width: 100%;
    height: 26px;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: var(--subtle);
    border-radius: 3px;
}
#formSearch {
    position: relative;
    top: calc(50% - 35px);
    transition: top 0.2s ease;
    margin-bottom: 14px;
}
#formSearch.formSearch_up {
    top: 0px;
}
#searchInner {
    display: flex;
}
#searchButton {
    width: 60px;
    margin-left: 15px;
    cursor: pointer;
}
#inputSearch {
    flex: 1 1 auto;
    background-image: url("img/search.svg");
    background-position: 10px;
    background-size: 14px;
    background-repeat: no-repeat;
    padding-left: 36px;
}
.searchResults,
.fields {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    transition: all 0.2s ease-out;
}
.searchResults {
    overflow-y: auto;
}
.fields.onSearchResults {
    left: calc(100% + 10px);
}
.searchResults.onSearchResults {
    right: 0px;
}
.fields.onFields {
    left: 0%;
}
.searchResults.onFields {
    right: calc(100% + 10px);
}
.open {
    height: 100%;
}
.menuButton {
    height: 100%;
    width: 80px;
}
#buttonDeleteWrapper {
    width: 90px;
    overflow: hidden;
    transition: width 0.11s ease-out;
}
#buttonDeleteWrapper.retract {
    width: 0px;
}
.searchResult {
    margin-bottom: 6px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--subtle);
}
.searchResult:last-child {
    margin-bottom: unset;
}
.searchResult:hover, .savedPlace:hover {
    background-color: var(--subtle_hover);
}
/* #endregion */

/* #region Tab */
#myPlacesTab {
    position: absolute;
    width: 32px;
    height: 36px;
    left: 100%;
    top: 21px;
    border-radius: 0px 4px 4px 0px;
    background-color: var(--background_menu);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    cursor: pointer;
    transition: left 0.13s ease-out, width 0.26s ease;
}
#myPlacesTab.animate {
    animation: tabAnimation;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
@keyframes tabAnimation {
    0% {width: 32px;}
    50% {width: 40px}
    100% {width: 32px;}
}
#myPlacesTab:hover {
    width: 40px;
}
#svgPin {
    height: 17px;
    display: block;
}
#myPlacesTab.retract {
    left: calc(100% - 33px);
}
#myPlaces {
    position: absolute;
    width: 220px;
    left: 100%;
    top: 21px;
    bottom: 21px;
    border-radius: 0px 4px 4px 0px;
    background-color: var(--background_menu);
    transition: left 0.18s ease-out;
    padding: 20px 22px 22px 25px;
}
#myPlaces.retract {
    left: calc(100% - 220px);
}
#buttonCloseMyPlaces {
    height: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
#buttonCloseMyPlaces:hover {
    filter: brightness(0.87);
}
.savedPlace {
    margin-bottom: 6px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--subtle);
}
.shadow {
    filter: drop-shadow(0px 0px 5px var(--shadow));
}
.shadow.retract {
    filter: none;
}
/* #endregion */

/* #region Map */
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
/* #endregion */

/* #region Colors */
.fill_main {
    fill: var(--main);
}
.fill_mainDark {
    fill: var(--mainDark);
}
.fill_secondary {
    fill: var(--secondary);
}
.bg_main {
    background-color: var(--main);
    color: white;
}
/* #endregion */